<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	
	<filter>
		<filter-name>AjaxFilter</filter-name>
		<filter-class>com.cicc.gaf.filter.AjaxFilter</filter-class>
		<init-param>
			<param-name>onError</param-name>
			<param-value>/index.jsp</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>AjaxFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>


	<!-- SSO configuration start -->
	<!-- 
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
		<init-param>
			<param-name>logoutCallBack</param-name>
			<param-value>com.cicc.gaf.sso.SSOLogout</param-value>
		</init-param>
	</filter>

	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>CASAuthenticationFilter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://192.168.193.136:8443/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://192.168.74.159:8080</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CASValidationFilter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://192.168.193.136:8443/cas</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://192.168.74.159:8080</param-value>
		</init-param>
		<init-param>
			<param-name>loginCallBack</param-name>
			<param-value>com.cicc.gaf.sso.SSOLogin</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CASHttpServletRequestWrapperFilter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CASAssertionThreadLocalFilter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CASAuthenticationFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CASValidationFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CASHttpServletRequestWrapperFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>sso account sync</servlet-name>
		<servlet-class>com.cicc.sso.user.servlet.UserPusher</servlet-class>
		<init-param>
			<param-name>whiteList</param-name>
			<param-value>192.168.193.136</param-value>
		</init-param>
		<init-param>
			<param-name>openAccountClass</param-name>
			<param-value>com.cicc.gaf.sso.SSOOpenAccount</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>sso account sync</servlet-name>
		<url-pattern>/UserPusher</url-pattern>
	</servlet-mapping>
 	-->
	<!-- SSO Configuration end -->

	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring_servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>GafFilter</filter-name>
		<filter-class>com.cicc.gaf.filter.GafFilter</filter-class>
		<init-param>
			<param-name>onError</param-name>
			<param-value>/index.jsp</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>GafFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.cicc.gaf.log.filter.LogFilter</filter-class>
		<init-param>
			<param-name>onError</param-name>
			<param-value>/index.jsp</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<distributable />

</web-app>