body{
	font-size: 14px;
	background-color: #fff;
	padding-left: 2px;
}

div.tabLegend{
	padding-top: 5px;
	width:85px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	background: url(images/taglegend4.png) no-repeat left;
	color: white;
	font-weight: bold;
}

div.lsy_menu{
	height: 77;
	background-color: #C6AB8E; /*#6E2306;*//*#A97C2B;*/ /*#967E04;*/
}

div.lsy_logo{
	height: 77;
	background: url(images/page_title.jpg) no-repeat left;
}

table.query{
	width: 100%;
	border-bottom: 1px solid #599DE0;
	border-collapse:collapse;
}
table.query tr td{
	border: 1px solid #599DE0;
	background-color: #dbeaf8;
}

table.list{
	width: 100%;
	border: 1px #336699 solid;
	border-collapse:collapse;
	padding: -1px;
}

table.list th{
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	FONT: bold 12px "ו";
	background: url(images/menu_background.gif) repeat-y top;
	border: 1px #336699 solid;
}

table.list tr.even{
	background-color: #dbeaf8;	
}

table.list td{
	FONT: 13px "ו";
	TEXT-DECORATION: none;
	border: 1px #336699 solid;
	text-align: center;
	padding: 1px 0px; 
	cursor: pointer;
}

table.list tr:hover,table.list tr.altrow{
	cursor: pointer;
    background-color:#FFF4CE;
}

table.list a:link {text-decoration: none; color:#0743C9;} 
table.list a:visited {text-decoration: none; color:#0743C9 } 
table.list a:hover {text-decoration:underline; color:#0099FF}

div.pageInfo{
	background-color: #dbeaf8;
	text-align: right;
	padding: 3px 0;
	font-size: 12px;
}

div.pageInfo span.firstPage{
	cursor: pointer;
	padding-top: 2px;
	padding-left:17px;
	background: url(images/control_start_blue.png) no-repeat left;
}

div.pageInfo span.previousPage{
	text-align: right;
	cursor: pointer;
	padding-top: 2px;
	padding-left:17px;
	background: url(images/control_rewind_blue.png) no-repeat left;
}

div.pageInfo span.nextPage{
	cursor: pointer;
	padding-top: 2px;
	padding-right:17px;
	background: url(images/control_fastforward_blue.png) no-repeat right;
}

div.pageInfo span.lastPage{
	cursor: pointer;
	padding-top: 2px;
	padding-right:17px;
	background: url(images/control_end_blue.png) no-repeat right;
}

span.search_title{
	text-align: right;
	margin-right: 10px;
}

button.gaf-ui-normal{
	width: 85;
	height: 25;
	border: none;
	background: url(images/button_up.png) no-repeat left;
	margin-left: 2px;
	font-size: 13px;
	letter-spacing: .1em;
	height: 25px;
	width: 85px;
	cursor: pointer;
}

button.chars4_6{
	letter-spacing: 0px;
	font-size: 12px;
}

button.search4{
	width: 85;
	height: 30;
	border: none;
	background: url(images/button_up.png) no-repeat left;
	margin-left: 2px;
	font-size: 14px;
	letter-spacing: 1px;
	color: 333366;
}

.fontsize14{
	font-size: 14px !important;
}

.loginInput{
	border: 1px black solid;
	width: 200px;
}

input.loupe{
	background-image: url('images/loupe.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

input.gaf-ui-normal{
	width:160px;
	height: 20px;
	font-size: 14px;
	padding-top: 2px;
	border:1px #A4BED4 solid;
}

select.gaf-ui-normal{
	width:180px;
	font-size: 14px;
	border:1px #A4BED4 solid;
}

.gaf-ui-underline{
	width:180px;
	height: 17px;
	font-size: 14px;
	padding-top: 3px;
	border: none;
	border-bottom:1px #A4BED4 solid;
}

div.gaf-ui-combotext{
	border: solid 1px #369;
	padding-bottom: 1px;
	height: 22px !important;
	margin-bottom: 2px;
	text-align:right;
	vertical-align: middle;
	cursor: pointer;
	background-image: url('images/square-triangle-s.png');
	background-position: right;
	background-repeat: no-repeat;
}
div.gaf-ui-combotext input{ border: none;height: 21px;vertical-align: middle; width: 100%; margin-right: 25px;}

div.gaf-ui-searchtool{
	background-image: url('images/square-loupe.png');
}

tr.gaf-ui-priority-secondary{
	font-style: normal;
	background-color: #dbeaf8;
}

tr.gaf-ui-priority-secondary td{
	background-color: inherit;
}

.gaf-ui-clickable{
	cursor: pointer;
}

table.gaf-ui-normal{
	width:99%;
	border: none;
	margin: 2px;
	font-size: 14px;
	border-collapse:collapse;
}

table.gaf-ui-normal tr td{ border: 1px #a6c9e2 solid; padding: 1px;}
table.gaf-ui-normal tr td.label{
	border: 1px #a6c9e2 solid;
	padding: 1px;
	font-weight: bold;
	font-size: 12px; 
	color:#369;
	text-align: right;
	background-color: #dfeffc;
}
table.gaf-ui-normal tr td.content{ text-align: left; }

div.gaf-ui-window-toolbar{
	text-align:right;
	border-top:2px solid #dbeaf8;
	margin:0px;
	padding-top:5px;
	padding-right: 10px;
}

/* gafwindow appearance*/
#gafwindow {
    position: absolute;
    left: 50%;/*margins are adjusted by plugin to place window at center center*/
    top: 50%;
    -moz-box-shadow: 0 0 15px #6699cc;
    -webkit-box-shadow: 0 0 15px #6699cc;
    box-shadow: 0 0 15px #6699cc;
    background: #fff;
    border: 1px solid #6699cc;
    position: absolute;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#gafwindow-image {
    line-height: 0;
}

#gafwindow-image-loading {
	text-align: center;
    background: url(images/loading.gif) center center no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.gafwindow-title {
    font-weight: bold;
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #eee;
    cursor: default;
    /*IE6 rules*/
    _display: block;
    _position: relative;
}

#gafwindow-inner {
    padding: 5px 5px;
    position: relative;
    overflow: hidden; /*contains floating elements*/
    /*IE6 rule*/
    _zoom: 1;
}

.gafwindow-controlbar {
	cursor: move;
    
    overflow: hidden;
    background-color: #369;
    border-bottom: 1px solid #69c;
    padding: 0 30px 0 10px;
    line-height: 18px;
    /*IE6 rule*/
    _zoom: 1;
}

a.gafwindow-close {
    display: block;
    float: right;
    height: 20px;
    width: 20px;
    margin-right: -30px;
    text-indent: -999em;
    background: url(images/gafwindow-close.gif) no-repeat top left;
    border-left: 1px solid #6699cc;
    border-bottom: 1px solid #6699cc;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /*rules for IE7 and below*/
    *position: relative;
    *right: -9px;
    /*IE6 rule*/
    _display: inline;
}

a.gafwindow-close:hover {
    background-position: bottom left;
}

/* gaftree appearance*/
.gaftree{
	font-size:12px;
	margin:0;
	padding:0;
	list-style-type:none;
}
.gaftree li{
	white-space:nowrap;
}
.gaftree li ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.gaftree-node{
	height:18px;
	white-space:nowrap;
	cursor:pointer;
}
.gaftree-indent{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.gaftree-hit{
	cursor:pointer;
}
.gaftree-expanded{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('images/gaftree_arrows.gif') no-repeat -18px 0px;
}
.gaftree-expanded-hover{
	background:url('images/gaftree_arrows.gif') no-repeat -50px 0px;
}
.gaftree-collapsed{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('images/gaftree_arrows.gif') no-repeat 0px 0px;
}
.gaftree-collapsed-hover{
	background:url('images/gaftree_arrows.gif') no-repeat -32px 0px;
}
.gaftree-folder{
	display:inline-block;
	background:url('images/gaftree_folder.gif') no-repeat;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.gaftree-folder-open{
	background:url('images/gaftree_folder_open.gif') no-repeat;
}
.gaftree-file{
	display:inline-block;
	background:url('images/gaftree_file.gif') no-repeat;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.gaftree-loading{
	background:url('images/gaftree_loading.gif') no-repeat;
}
.gaftree-title{
	display:inline-block;
	text-decoration:none;
	vertical-align:middle;
	padding:1px 2px 1px 2px;
	white-space:nowrap;
}

.gaftree-node-hover{
	background:#fafafa;
}
.gaftree-node-selected{
	background:#FBEC88;
}
.gaftree-checkbox{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.gaftree-checkbox0{
	background:url('images/gaftree_checkbox_0.gif') no-repeat;
}
.gaftree-checkbox1{
	background:url('images/gaftree_checkbox_1.gif') no-repeat;
}
.gaftree-checkbox2{
	background:url('images/gaftree_checkbox_2.gif') no-repeat;
}
.gaftree-node-proxy{
	font-size:12px;
	padding:1px 2px 1px 18px;
	background:#fafafa;
	border:1px solid #ccc;
	z-index:9900000;
}
.gaftree-dnd-yes{
	background:url('images/gaftree_dnd_yes.png') no-repeat 0 center;
}
.gaftree-dnd-no{
	background:url('images/gaftree_dnd_no.png') no-repeat 0 center;
}
.tree-node-top{
	border-top:1px dotted red;
}
.gaftree-node-bottom{
	border-bottom:1px dotted red;
}
.gaftree-node-append .gaftree-title{
	border:1px dotted red;
}
.gaftree-editor{
	border:1px solid #ccc;
	font-size:12px;
	line-height:16px;
	width:80px;
	position:absolute;
	top:0;
}

/*gafselbox appearance*/
.gafselboxRadioWrapper { float: left; z-index: 2; }
.gafselboxRadio {
	background: transparent url(images/gafselbox_radio.gif) no-repeat center top;
	height: 18px;
	width: 18px;
	position:absolute;left:0px;top:0px;cursor:pointer;vertical-align:middle;
}

.gafselboxCheckbox {
	background: transparent url(images/gafselbox_checkbox.gif) no-repeat center top;
	height: 18px;
	width: 18px;
	position:absolute;left:0px;top:-3px;z-index:1;cursor:pointer;
}

.gafselboxChecked { background-position: center bottom;}
.gafselboxFocus { border: dotted 1px #666666; }

.gafselboxHidden {opacity:0;z-index:-10000;position:relative;}
.gafselboxWrapper {position:relative;vertical-align:top;}
.gafselboxWrapper input {outline:none;moz-outline:none;}

.panel{ background-color: #dfeffc; border: 1px #a6c9e2 solid; }